// @Author: CYRIL VELLA
// @Date:   2018-01-19T22:18:19+01:00
// @Email:  cyril.vella@yahoo.com
// @Last modified by:   CYRIL VELLA
// @Last modified time: 2018-02-25T00:44:40+01:00



page-home {
  .card{
    width: 30%;
    display: inline-block;
    margin: 0 auto;
  }

  ion-header{
    ion-navbar{
      div.toolbar-background{
        background-image: url('../assets/imgs/background.png');
        background-repeat: no-repeat;
        background-size:cover;
        text-align: center;
      }
    }
    ion-title{
      div.toolbar-title{
        color: #FFF !important;
      }
    }
  }
}
